<%- include('header') -%>

<h1 style='text-align: center; color: #393e46'>On the way up</h1>
<p style='text-align: center;'>Once we take off, there ain't no pitstops. We only cashing out on top!</p>

<%- include('footer') -%>